/* Light theme */
:root {
  --bg-color:  rgba(255, 255, 255, 0.95);   
  --bg-color-sec:  #ffffffe6;   
  --box-shadow: #0000001a;
  --border-color: #ffffff33;
  --main-text-color:white;
  --text-color:#a0aec0;
  --text-color-sec: #718096;
  --loading-color:#ffffff4d;
  --card-bg: #ffffff;
  --card-text: #000000;
}
#btn-theme {
      position: fixed;
      right: 10px;
      bottom: 14px;
      z-index: 10;
      background-color: var(--bs-blue);
 }